<div class="row">
  <%= render 'users/user', user: @user %>
  
  <!-- 右：ユーザー一覧（テーブル形式） -->
  <div class="col-md-9">
    <h3>Users</h3>
    <table class="table">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th></th> <!-- Showボタン用 -->
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <% if user.profile_image.attached? %>
                <%= image_tag user.profile_image.variant(resize: "80x80"), class: "rounded" %>
              <% else %>
                <%= image_tag 'no_image.jpg', width: 80, height: 80, class: "rounded" %>
              <% end %>
            </td>
            <td><%= user.name %></td>
            <td><%= link_to 'Show', user_path(user) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div> 
