<div class="row">
  <!-- 左：ユーザー情報 + 投稿フォーム -->
  <div class="col-md-3">
    <h3>User info</h3>
    <% if @user.profile_image.attached? %>
      <%= image_tag @user.profile_image.variant(resize: "100x100") %>
    <% else %>
      <%= image_tag 'no_image.jpg', width: 100 %>
    <% end %>
    <table class="table">
      <tr><th>name</th><td><%= @user.name %></td></tr>
      <tr><th>introduction</th><td><%= @user.introduction %></td></tr>
    </table>

    <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block edit_user_#{@user.id}" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>

    <h4>New Book</h4>
    <%= form_with model: @book, local: true do |f| %>
      <div class="mb-2">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="mb-2">
        <%= f.label :opinion, "Opinion" %>
        <%= f.text_area :opinion, class: "form-control" %>
      </div>
      <%= f.submit "Create Book", class: "btn btn-primary w-100" %>
    <% end %>
  </div>

  <!-- 右：本の詳細 -->
  <div class="col-md-9">
    <h1>Book detail</h1>
    <hr>

    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- 投稿者画像 + 名前 -->
          <td>
            <% if @book.user.profile_image.attached? %>
              <%= image_tag @book.user.profile_image.variant(resize: "80x80"), class: "mb-2 d-block" %>
            <% else %>
              <%= image_tag "no_image.jpg", width: 80, class: "mb-2 d-block" %>
            <% end %>
            <%= link_to @book.user.name, user_path(@book.user) %>
          </td>

          <!-- 本のタイトル -->
          <td><%= @book.title %></td>

          <!-- 本の本文 -->
          <td><%= @book.opinion %></td>

          <!-- 編集・削除ボタン（ログインユーザーが投稿主のみ） -->
          <td>
            <% if @book.user == current_user %>
              <%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success me-2" %>
              <%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: "本当に消しますか?" }, class: "btn btn-sm btn-danger" %>
            <% end %>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
